@use "../../utils/color";

.footer {
  width: 100%;
  max-width: 1440px;
  height: 484px;
  padding: 0 79px;
  background: color.$black-1;
  border-radius: 12px;
  box-shadow: 2px -2px 16px color.$black-2;

  .footer-content {
    display: flex;
    gap: 120px;
    padding-top: 32px;
    padding-bottom: 80px;

    .footer-content-detail {
      display: flex;
      flex-direction: column;
      gap: 24px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: color.$black-4;
      cursor: pointer;

      .footer-title {
        color: color.$black-7;
      }
    }
  }

  .footer-line {
    height: 1px;
    width: 100%;
    background-color: color.$black-3;
  }

  .footer-copyright {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: color.$black-3;
  }
}

.dark-mode {
  .footer {
    background: color.$white-1;
    box-shadow: 2px -2px 16px color.$white-2;

    .footer-content {
      .footer-content-detail {
        color: color.$white-4;

        .footer-title {
          color: color.$white-7;
        }
      }
    }

    .footer-line {
      background-color: color.$white-3;
    }

    .footer-copyright {
      color: color.$white-3;
    }
  }
}

@media (max-width: 1000px) {
  .footer {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    padding: 0 16px 16px 16px;
    background: color.$black-1;
    border-radius: 12px;
    box-shadow: 2px -2px 16px color.$black-2;

    .footer-content {
      display: flex;
      gap: 120px;
      padding-top: 32px;
      padding-bottom: 64px;

      .footer-content-detail {
        display: flex;
        flex-direction: column;
        gap: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: color.$black-4;
        cursor: pointer;

        .footer-title {
          color: color.$black-7;
          font-weight: 600;
        }
      }
    }

    .footer-line {
      height: 1px;
      width: 100%;
      background-color: color.$black-3;
    }

    .footer-copyright {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 24px;

      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: color.$black-3;
    }
  }
}
