@use "../../utils/color";

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  background: color.$white-8;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 8px color.$black-1;
  z-index: 999;
  transition: all 0.15s ease-in-out;

  .nav-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 79px;

    .nav-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1px 13px;

      background: color.$white-9;
      box-shadow: 2px 2px 8px color.$black-2;
      border-radius: 8px;

      cursor: pointer;

      .logo-img {
        width: 42px;
        height: 42px;
      }

      .logo-name {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;

        color: #002b36;
      }
    }

    .nav {
      display: flex;
      position: relative;

      .nav-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 80px;

        list-style: none;
        transition: all 0.3s ease-in-out;

        .nav-item-detail {
          font-weight: 300;
          font-size: 20px;
          line-height: 30px;

          color: color.$black-6;

          cursor: pointer;
        }

        .selected {
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;

          color: color.$black;
          transition: all 0.3s ease-in-out;
        }
      }

      .underline {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: black;
        transition: transform 0.3s ease-in-out;
      }

      .selected + .underline {
        transform: translateX(0);
      }
    }

    .login-link {
      text-decoration: none;

      .login-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 12px;
        font-size: 20px;
        line-height: 30px;
        color: color.$black-6;
        border: none;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border-radius: 8px;

        &:hover {
          color: color.$white-8;
          background: #7396ff;
        }

        &:active {
          color: color.$white-4;
          background: #6685e3;
        }
      }
    }
  }
}

.dark-mode {
  .navbar {
    background: color.$black-6;
    box-shadow: 0 0 8px color.$white-3;

    .nav {
      .nav-item {
        .nav-item-detail {
          color: color.$white-5;
        }

        .selected {
          color: color.$white;
        }
      }
    }
  }
}
