@use "../../utils/color";

.contact-page {
  height: 640px;
  width: 100%;

  .contact-title {
    width: fit-content;
    margin: 0 auto 32px;
    padding-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .contact-title-detail {
      height: 48px;
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
      color: color.$black-6;
    }

    .contact-line {
      position: absolute;
      bottom: 0;
      height: 5px;
      width: 100%;
      background-color: color.$black-6;
    }
  }

  .contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;

    .content-left {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .content-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 343px;
        height: 140px;
        background: color.$white;
        border: 1px solid color.$black-2;
        box-shadow: 4px 4px 4px color.$black-2;
        border-radius: 16px;

        .content-icon {
          width: 32px;
          height: 32px;
          color: color.$black-6;
        }

        .content-header {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: color.$black-6;
          pointer-events: none;
        }

        .content-number {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: color.$black-4;
          pointer-events: none;
        }

        .content-btn {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: color.$black-2;
        }
      }
    }

    .content-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 402px;
      height: 460px;
      background: color.$white;
      border: 1px solid color.$black-2;
      box-shadow: 4px 4px 4px color.$black-2;
      border-radius: 16px;

      .content-title {
        width: 96px;
        height: 36px;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: color.$black-6;
        margin: 24px auto;
      }

      .content-detail {
        width: 338px;
        height: 40px;
        background: color.$white-1;
        border: 1px solid color.$black-1;
        border-radius: 8px;
        position: relative;
        margin-bottom: 32px;

        .content-input {
          width: 100%;
          height: 100%;
          background-color: transparent;
        }

        .content-label {
          width: 100%;
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 18px;
          color: color.$black-5;
        }
      }

      .content-lg {
        width: 338px;
        height: 130px;
        background: color.$white-1;
        border: 1px solid color.$black-1;
        border-radius: 8px;

        .content-label {
          top: 20px;
        }
      }

      .content-btn {
        width: 338px;
        height: 40px;
        background: color.$black-1;
        box-shadow: 2px 4px 8px color.$black-2;
        border-radius: 8px;
        border: none;
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        span {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: color.$black-3;
          text-shadow: 2px 2px 8px color.$black-2;
          transition: all 0.5s ease-in-out;
        }

        &:hover {
          background: #7396ff;
          color: rgb(255, 255, 255);
          box-shadow: 4px 4px 8px color.$black-5;
          transform: scale(1.05);

          span {
            color: color.$white-8;
          }
        }
      }
    }
  }
}

.dark-mode {
  .contact-page {
    .contact-title {
      .contact-title-detail {
        color: color.$white-6;
      }

      .contact-line {
        background-color: color.$white-6;
      }
    }

    .contact-content {
      .content-left {
        .content-detail {
          background: color.$black;
          border: 1px solid color.$white-2;
          box-shadow: 4px 4px 4px color.$white-2;

          .content-icon {
            color: color.$white-6;
          }

          .content-header {
            color: color.$white-6;
          }

          .content-number {
            color: color.$white-4;
          }

          .content-btn {
            color: color.$white-2;
          }
        }
      }

      .content-right {
        background: color.$black;
        border: 1px solid color.$white-2;
        box-shadow: 4px 4px 4px color.$white-2;

        .content-title {
          color: color.$white-6;
        }

        .content-detail {
          background: color.$black-1;
          border: 1px solid color.$white-1;

          .content-input {
            background-color: transparent;
          }

          .content-label {
            color: color.$white-5;
          }
        }

        .content-lg {
          background: color.$black-1;
          border: 1px solid color.$white-1;
        }

        .content-btn {
          background: color.$white-1;
          box-shadow: 2px 4px 8px color.$white-2;

          span {
            color: color.$white-3;
            text-shadow: 2px 2px 8px color.$white-2;
          }

          &:hover {
            background: #7396ff;
            color: color.$white;
            box-shadow: 4px 4px 8px color.$white-5;

            span {
              color: color.$black-8;
            }
          }
        }
      }
    }
  }
}
