@use "./utils/color";

.App {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  background-color: color.$white;
}

.dark-mode {
  .App {
    background-color: color.$black;
  }
}
